<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SQLBase</title>
    <link href="/static/css/libs/bootstrap.min.css" rel="stylesheet">

    <style>
        .dark-form-control {
            background-color: #212529;
            color: white;
        }
        .logo {
            width: auto;
            max-width: 100%;
        }

        /* Media query for smaller screens */
        @media (max-width: 767px) {
            .logo {
                max-width: 300px; /* Maximum width for mobile devices */
            }
        }
    </style>
    <link rel="stylesheet" href="/web/static/css/sql_highlight.css">
</head>

<body class="bg-dark text-white">
<div class="container">
    <div class="container text-center">
        <img src="/static/images/sbl.png" alt="SQLBase Logo" class="my-4 logo" />
    </div>
</div>
</body>
</html>